$odd: #FEFDFD;
$odd_dark: #F7F3ED;
$blue: #0072bc;
$light_blue: #5ab0ee;
$orange: #f94a39;
$highlight: #fffbca;

$dark_red: #b9285a;
$red: #d1216f;
$purple: #9b2c53;

$green: #1fb25a;
$yellow: #fdcb34;
$red: #e25352;

$primary_color: #EE4938;

$silver: #dfe4e9;
$neon_green: #f6033b;
$neon_dark: #00a1a4;
$dark_silver: #abafb4;
$text_color: #313539;
