{{ partial "header.html" . }}

<body >
  {{ partial "nav.html" . }}

<section class="content">
  <section class="wrapper">

<section class="content--block">
   <h2>Build</h2>
  <p class="center">Model your cloud services with a few clicks. An intuitive, universal interface that works across Amazon Web Services, DigitalOcean, Google Compute Cloud and Microsoft Azure. 
  </p>

<div class="features__browser">
        <div class="features__browser__heading">
          <ul>
            <li><span class="red"></span></li>
            <li><span class="green"></span></li>
            <li><span class="yellow"></span></li>
          </ul>
        </div>
        <img src="{{ .Site.BaseURL }}images/build-illustration.png" alt="">
      </div>

  

  <h2>Provision</h2>
  <p>Automatically apply your CAPS(Chef, Ansible, Puppet and Salt) provisioning scripts. Condense will run them in parallel and report execution stats in real time. </p>

  <div class="features__browser">
        <div class="features__browser__heading">
          <ul>
            <li><span class="red"></span></li>
            <li><span class="green"></span></li>
            <li><span class="yellow"></span></li>
          </ul>
        </div>
        <img src="{{ .Site.BaseURL }}images/provision-illustration.png" alt="">
      </div>


  <h2>Monitor</h2>
  <p>Have a complete visibility over your infrastructure out of the box - from general system metrics like CPU, Memory, Disk usage and network throughput to service checks like open ports and individual process metrics. 

  Condense automatically syncs officially provided metrics for your services, 
 like Amazon CloudWatch for example.
 <br><br>The monitoring in Condense is built around the solid base already established in <a href="https://amon.cx">Amon</a>.</p>


</section>

<section class='invite content--block'>
   <h2>Sounds Interesting?</h2>
<p>Condense is currently an invite only pre-alpha. You can request an invite using the form below. </p>
</section>



</section> <!-- content -->
</section> <!-- wrapper -->




{{ partial "footer.html" . }}
