{{ partial "header.html" . }}

<body >
  {{ partial "nav.html" . }}

<section class="content--block">
  <p>Condense is a cloud orchestration tool that enables you to quickly model, deploy, manage and monitor your whole infrastructure</p>

  
  <h2>Build</h2>
  <p>Create/Resize/Delete your servers with a few clicks. Works great with AWS, DigitalOcean, Google Compute Cloud and Microsoft Azure</p>
  <h2>Provision</h2>
  <p>Automatically apply your CAPS(Chef, Ansible, Puppet and Salt) provisioning scripts. Condense will run them in parallel and report execution stats in real time. </p>
  <h2>Manage</h2>
    <p>Configure services and sync the changes in real time.</p>
  <h2>Monitor</h2>
  <p>Have a complete visibility over your infrastructure out of the box - from general system metrics like CPU, Memory, Disk usage and network throughput to service checks like open ports and individual process metrics.</p>
</section>


{{ partial "footer.html" . }}
